form { 
    background: #f4f5f7;
    padding: 20px;
}
form.left, form.right {
    display: inline-block;
    vertical-align: top;
    width: 458px;
}
form.right {
    padding-left: 20px;
}
label {
    display: block; font-size: 18px;
    margin: 10px Opx 0px 0px;
}
input, textarea {
    border: 1px solid #82858D;
    padding: 10px; font-size: 16px;
    width: 436px;
}
textarea {
    height: 98px;
    margin-bottom: 32px;
}
input[type="submit"] {
    width: 200px;
    float: right;
    border: none;
    background: #595B5F;
    color: #fff;
    text-transform: uppercase;
}